#lights {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

canvas {
  width: 100%;
  height: 100%;
}

.hyperspeed-wrapper {
  opacity: 0;
  transition: opacity 2s ease; /* adjust duration & easing */
}

.hyperspeed-wrapper.fade-in {
  opacity: 1;
}